{% extends 'back/back_base.html.twig' %}

{% block title %}Créer un nouveau Role{% endblock %}

{% block body %}
    <h1>Créer un nouveau Role</h1>

    {{ include('back/role/_form.html.twig') }}

    <a href="{{ path('role_index') }}">Revenir à la liste</a>
{% endblock %}
