{% extends 'back_base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}

<h1>Administration de GRBA</h1>
<br>
<br>
<h4>Ci-dessus vous retrouverez tous les liens qui permettent de modérer les contenus de la Base de Données de GRBA</h4>
{% endblock %}