{% extends 'back/back_base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
<div class="">
<h1>Administration de GRBA</h1>
<h4>Ci-dessus vous retrouverez tous les liens qui permettent de modérer les contenus de la Base de Données de GRBA</h4>
</div>
{% endblock %}