{% extends 'back/back_base.html.twig' %}
{% block title %}Formulaire de modification de l'entete principale{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-6">  
            
                    <h1>Formulaire de modification de l'entete principale</h1>
                    
                    {{ form_start(headerMainPageForm) }}
                        <button class="btn text-white">{{ button_label|default('Sauvergarder') }}</button>
                    {{ form_end(headerMainPageForm)}}


                
        </div>
    </div>      
</div>
{% endblock %}
