{% extends 'back/back_base.html.twig' %}
{% block title %}Formulaire de modification des reseaux sociaux{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-9">  
            <div class="row ">
                <div class='test2 col-md-12 col-lg-9'>
                    <h1>Formulaire de modification des reseaux sociaux</h1>
                    
                    {{ form_start(networkForm) }}   
                    <button class="btn text-white">{{ button_label|default('Sauvergarder') }}</button>                 
                    {{ form_end(networkForm)}}
                    



                </div>
                
            </div>
        </div>
    </div>      
</div>
{% endblock %}