{% extends 'back/back_base.html.twig' %}
{% block title %}Formulaire de modification du header{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-6">  
            
                    <h2>Formulaire de modification des des autres headers</h2>
                    
                    {{ form_start(otherHeaderForm) }}   
                    <button class="btn text-white">{{ button_label|default('Sauvergarder') }}</button>                 
                    {{ form_end(otherHeaderForm)}}
                    



                
        </div>
    </div>      
</div>
{% endblock %}