{% extends 'base.html.twig' %}

{% block title %}New Footer{% endblock %}

{% block body %}
    <h1>Create new Footer</h1>

    {{ include('footer/_form.html.twig') }}

    <a href="{{ path('footer_index') }}">back to list</a>
{% endblock %}
