{% extends 'base.html.twig' %}

{% block title %}Éditer Contact{% endblock %}

{% block body %}
    <h1>Éditer Contact</h1>

    {{ include('back/contact/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('contact_index') }}">Revenir a la liste</a>

    {{ include('back/contact/_delete_form.html.twig') }}
{% endblock %}
