{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Contact{% endblock %}

{% block body %}
    <h1>Créer un nouveau Contact</h1>

    {{ include('back/contact/_form.html.twig') }}

    <a href="{{ path('contact_index') }}">Revenir à la liste</a>
{% endblock %}
