<form method="post" action="{{ path('header_delete', {'id': header.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet Entête?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ header.id) }}">
    <button class="btn">Supprimer</button>
</form>
