{% extends 'base.html.twig' %}

{% block title %}Éditer Header{% endblock %}

{% block body %}
    <h1>Éditer Header</h1>

    {{ include('back/header/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('header_index') }}">Revenir à la liste</a>

    {{ include('back/header/_delete_form.html.twig') }}
{% endblock %}
