<form method="post" action="{{ path('footer_delete', {'id': footer.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce Pied de page?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ footer.id) }}">
    <button class="btn">Supprimer</button>
</form>
