{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Pied de page{% endblock %}

{% block body %}
    <h1>Créer un nouveau Pied de page</h1>

    {{ include('back/footer/_form.html.twig') }}

    <a href="{{ path('footer_index') }}">Revenir à la liste</a>
{% endblock %}
