{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Type{% endblock %}

{% block body %}
    <h1>Créer un nouveau Type</h1>

    {{ include('back/type/_form.html.twig') }}

    <a href="{{ path('type_index') }}">Revenir à la liste</a>
{% endblock %}
