{{ form_start(userRoleForm) }}
    {{ form_row(userRoleForm.role, {'attr': {'placeholder': 'Selectionner un role ...'}} )}}
    <button class="btn">{{ button_label|default('Sauvergarder') }}</button>
{{ form_end(userRoleForm)}}
