{% extends 'back_base.html.twig' %}

{% block title %}Éditer User{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12">  
            <div class="row ">
                <div class='test col-12'>
                    <h1>Éditer User</h1>
                    {{ include('back/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    {{ include('back/user/_delete_form.html.twig') }}
                    <a href="{{ path('user_index') }}">Revenir à la liste</a>
                </div>
            </div>
        </div>
    </div>      
</div>    

{% endblock %}
