{% extends 'back/back_base.html.twig' %}

{% block title %}Créer un nouvel Utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel Utilisateur</h1>

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Revenir à la liste</a>
{% endblock %}
