{% block body %}

<footer id="footer" class="top-space">
    <div class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-md-3 widget">
                <br>
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        {# {% for contact in contacts %}
                        <p>{{ contact.phone }}<br>
                        {% endfor %}
                        <a href="mailto:#">{% for contact in contacts %}<p>{{ contact.email }}{% endfor %}</a><br>
                        {% for contact in contacts %}
                        <p>{{ contact.adresse }}<br>
                        {% endfor %} #}
                        </p>	
                    </div>
                </div>
                <div class="col-md-3 widget">
                <br>
                    <h3 class="widget-title">Nous suivre</h3>
                    <div class="widget-body">
                        <p class="follow-me-icons">
                            <a href=""><i class="fa fa-twitter fa-2"></i></a>
                            <a href=""><i class="fa fa-linkedin fa-2"></i></a>
                            <a href=""><i class="fa fa-instagram fa-2"></i></a>
                            <a href="https://www.facebook.com/grba10/"><i class="fa fa-facebook fa-2"></i></a>
                        </p>	
                    </div>
                </div>
                <div class="col-md-6 widget">
                <br>
                    <h3 class="widget-title">À propos de nous</h3>
                    <div class="widget-body">
                        <p>L’Association a pour but d’exercer et promouvoir la randonnée pédestre et les activités de plein air agréées par la FFRandonnée,de participer facultativement aux actions menées par le Comité départemental de la randonnée.</p>                            </div>
                </div>
            </div> <!-- /row of widgets -->
        </div>
    </div>
    <br>
    <div class="footer2">
        <div class="container">
            <div class="row">
                
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="#">Accueil</a> | 
                            <a href="about.html">À propos</a> |
                            <a href="contact.html">Contact</a> |
                            <b><a href="signup.html">S'inscrire</a></b>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="text-right">
                            Copyright &copy; 2019, GRBA. Designed by NOUS 
                        </p>
                    </div>
                </div>
            </div> <!-- /row of widgets -->
        </div>
    </div>
    <br>
</footer>

{% endblock %}