{% block body %}


{# {% set url = url('admin') %}
{{ url }}
{% if 'admin' in url %} #}

<header>

    <div >
        <img id="imgHeader" src="{{ asset('uploads/pictures/header/' ~ pathPicture ) }}">
    </div>

</header>
    





{% endblock %}