{% block body %}


{# {% set url = url('admin') %}
{{ url }}
{% if 'admin' in url %} #}

<header>
    

    <div >
        <a href="/"> <img id="logo2" src="{{ asset('/image/GBRA.svg')}}" alt=""> </a>
        <img class="imgOtherHeader" src="{{ asset('image/otherHeader/' ~ otherHeaders ) }}">
    </div>

</header>
    





{% endblock %}