{% block body %}

<header>

{% if  headers|length != 0 %}
    {% for header in headers %}
        <div class="section">
            <img class="imgHeader" src="{{ asset('image/header/' ~ header.picturePath ) }}">
            <div class="fixed">
                <div class="bg1">
                    <p>{{ header.text }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

</header>

{% endblock %}
