{% extends 'base.html.twig' %}

{% block title %}Edit Horaire{% endblock %}

{% block body %}
    <h1>Edit Horaire</h1>

    {{ include('back/horaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('horaire_index') }}">back to list</a>

    {{ include('backhoraire/_delete_form.html.twig') }}
{% endblock %}
