{% extends 'back_base.html.twig' %}

{% block title %}Créer un nouvel Horaire{% endblock %}

{% block body %}
    <h1>Créer un nouvel Horaire</h1>

    {{ include('back/horaire/_form.html.twig') }}

    <a href="{{ path('horaire_index') }}">Revenir à la liste</a>
{% endblock %}
