{% extends 'back_base.html.twig' %}

{% block title %}Éditer Réseau social{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row ">
        <div class="col-lg-12">  
            <div class="row ">
                <div class='test col-12'>
                    <h1>Éditer Réseau social</h1>
                    {{ include('back/network/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                    {{ include('back/network/_delete_form.html.twig') }}
                    <a href="{{ path('header_index') }}">Revenir à la liste</a>
                </div>
            </div>
        </div>
    </div>      
</div>   
{% endblock %}
