{% extends 'back_base.html.twig' %}

{% block title %}Créer un nouveau Réseau social{% endblock %}

{% block body %}
    <h1>Créer un nouveau Réseau social</h1>

    {{ include('back/network/_form.html.twig') }}

    <a href="{{ path('network_index') }}">Revenir à la liste</a>
{% endblock %}
