{% extends 'base.html.twig' %}

{% block title %}Edit HeadersPicture{% endblock %}

{% block body %}
    <h1>Edit HeadersPicture</h1>

    {{ include('headers_picture/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('headers_picture_index') }}">back to list</a>

    {{ include('headers_picture/_delete_form.html.twig') }}
{% endblock %}
