body, html  {
    background: rgb(180,255,133);
background: linear-gradient(155deg, rgba(180,255,133,1) 0%, rgba(120,177,120,1) 50%);
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden;  */
    
}

                                                    /* header */

.navbar {
    background: linear-gradient(164deg, rgba(49,49,49,1) 0%, rgba(152,185,128,1) 35%);
    font-size: 1em;

}

.nav-link{
    color: azure !important;
    font-size: 2em;
}
.btn {
    margin: 0.33em;
    font-size: .8em;
}

#mainImg {
    background-size: cover;
    object-fit:cover;
    width: 100%;
    max-height: 60vh;
}
                                                    /* end header */


.container {
    margin: 0;
}


h2 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 5em;
}

/*.container-fluid{
    margin:0;
    padding: 0;
}

h6 {
    text-align: center;
    color: white;
    font-size: 2em;
} */



.card-text {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
}



figure {
    position: relative;
    display: inline-block;
    height:  calc(100% - 17em);
}

figcaption {
    position: absolute;
    width: 100%;
    font-weight: 900;
    font-size: 2em;
    top: 1em;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


                                                                    /* reverse card */

.card-img-top {
    border-radius: 0;

    margin: 0 auto 0 auto;
    height: 100%;
    max-width: 450px;
    object-fit:cover;
}
.nextLastEvents {
    background-image: url(/image/bgdiv.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 2em 0 2em 2em;
    padding: 10px;
    
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-left: solid 2px;
    
    /* min-height: 80vh;  */
    height: auto;
    -webkit-box-shadow: inset 0px 0px 13px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 0px 13px 3px rgba(0,0,0,0.35);
    box-shadow: inset 0px 0px 13px 3px rgba(0,0,0,0.35);
    }
    
.myContainer {
    position: relative;
    height: 450px;
    margin: 0.5em;
    
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}



.myCard{
    
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 450px;
    transform-style: preserve-3d;
    transition: 0.6s;
}

.myContainer:hover .myCard,
.myContainer.hover .myCard{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.myFront {    
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: 150%;
    background-attachment: fixed;   
    -webkit-box-shadow: 28px 17px 29px -12px rgba(87,84,87,0.62);
-moz-box-shadow: 28px 17px 29px -12px rgba(87,84,87,0.62);
box-shadow: 28px 17px 29px -12px rgba(87,84,87,0.62);
    
}

.myBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: 150%;
    background-attachment: fixed;
    color: #333;
    transform: rotateY(180deg);
    -webkit-box-shadow: 28px 17px 29px -12px rgba(87,84,87,0.62);
-moz-box-shadow: 28px 17px 29px -12px rgba(87,84,87,0.62);
box-shadow: 28px 17px 29px -12px rgba(87,84,87,0.62);
    
}

.card {
    width: 100%;
    height: 100%;
    background: linear-gradient(164deg, rgba(31,31,31,1) 0%, rgba(189,184,184,1) 35%) ;
    background-size: 100%;
    background-attachment: fixed;
    border-radius: 0;

    max-height: 500px;
}

.card-title {
   text-align: end;
   font-family: 'Montserrat', sans-serif;
   font-weight: 900;
   margin-right: 3px;
}

.back-card-title {
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 1.5em .5em 0 .5em;
    font-size: 2em;
}
h6{
    position: absolute;
    top: 9em;
    padding-left: 1em;
    color: black;
}

.card-body {
    color: white;
    padding: 2em;;
}

.back-card-body {
    padding: 0;
    color: white;
}


#des {
    color: white;

}

#des::before {
    content: "";
    float: left;
    height: 170px;
}

.cardReverse {
    width: 100%;
    height: 100%;
    background: linear-gradient(164deg, rgba(31,31,31,1) 0%, rgba(189,184,184,1) 35%) !important;
    background-size: 150%;
    background-attachment: fixed;
    

    /* border: solid 2px; */
}

.desc {
    padding: 2em;
    clear: left;
    height: auto;
    background: white;
    width: auto; 
    height: 278.5px;
    color: black;
}

#descItem {
    text-align: center;
    height: auto;
    width: auto; 
    color: black;
    display: table-cell;
    vertical-align: middle;
}
.seeAll {
    position: relative;    
    
}

#btnSeeAll {
    position: absolute;
    bottom: 0;
    }

@media only screen and (max-width: 992px) {
    #btnSeeAll {
        position: relative;
    }
}

                                                                    /* end reverse card */

                                                                    /* other last events */

.otherLastEvents {
    margin: 2em 0 2em 0;
    padding: 1em;
    height: auto;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    }

.otherLastEvents h2 {
text-align: center;
}
    

#col {
    padding: 0;
    margin:.5em;
}


.myContainer2 {
    position: relative;
    height: 450px;
    margin: 0.5em;
    border-radius: 20px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    color: white;
    font-weight: 700;
}

.card-body2 {
    position: absolute;
    margin-top: 1em;
    top: 200px;
    width: 20em;
}

.card2 {
    padding: 1em;
    width: 100%;
    height: 350px;
    background: linear-gradient(164deg, rgba(31,31,31,1) 0%, rgba(189,184,184,1) 35%) ;
    background-size: 100%;
    background-attachment: fixed;
    border-radius: 20px;

    max-height: 500px;
}

.card2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/image/forest.jpg');
    background-attachment: fixed;
    filter: opacity(66%);
    border-radius: 20px;
    /* border-bottom-right-radius: 0; */
    /* border: solid 2px; */
    border-radius: 20px;
    margin: 0;
}

.card-title2 {
    position: absolute;
    top: 300px;
    right: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: end;
 }

#date {
    position: absolute;
    top: -100px;
    left: 0;
}

.img-title2 {
    left: 0;

    position: absolute;
    width: 100%;
    font-weight: 900;
    font-size: 2em;
    top: 1em;
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.desc2 {
    position: absolute;
    top: 200px;
    padding: 2em;
    clear: left;
    height: auto;
    
    
    width: auto; 
    height: 278.5px;
    color: black;
}

                                                                    /* end other last events */

                                                                    /* previous last events */



.previousLastEvents {
    background-image: url(/image/bgdiv.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 2em 2em 2em 0;
    padding: 10px;
    
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 2px;
    height: auto;
    -webkit-box-shadow: inset 0px 0px 13px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0px 0px 13px 3px rgba(0,0,0,0.35);
    box-shadow: inset 0px 0px 13px 3px rgba(0,0,0,0.35);
    }

    .previousLastEvents h2 {
        text-align: right;
    }

    .card-img-top2 {
        
        margin: 0;
        height: 30%;
        width: auto;
        max-width: auto;
        object-fit:cover;
    }

    .btn-primary {
        width: 6em;
        margin: 0 0 1em 1em;
    }



                                                                    /* end previous last events */



                                                        /* footer */

#footer {
    background-color: #2D2D2D;
    color: white;
    padding: 2em 5em 2em 5em;
    font-size: 0.7em;
}

#footer h3 {
    font-size: 1.2em;
}

#about {
    text-align: center;
}

#us {
    margin: auto;
    
}


                                                        /* end footer */

                                                        /* all next events */

.base {
    background-image: url(image/bgdiv.png);
    height: 400px;
    margin: 1em;
}
.imgAllNE{
    height: 400px;
    width: 200px;
    max-width: auto;
    object-fit:cover;
}