<form method="post" action="{{ path('approach_delete', {'id': approach.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce contact?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ approach.id) }}">
    <button class="btn">Supprimer</button>
</form>
