{% extends 'back_base.html.twig' %}

{% block title %}Créer un nouveau Contact{% endblock %}

{% block body %}
    <h1>Créer un nouveau Contact</h1>

    {{ include('back/approach/_form.html.twig') }}

    <a href="{{ path('approach_index') }}">Revenir à la liste</a>
{% endblock %}
