{% extends "base.html.twig" %}
{% block title %}Fichiers{% endblock %}

{% block body %} 
    {% for file in files %}                     
        <div>
            <a href="{{ file.path }}" download="{{ file.path }}">{{ file.name }}</a> 
        </div>                                   
    {% endfor %}
{% endblock %}