{% extends "base.html.twig" %}
{% block title %}Fichiers{% endblock %}

{% block body %} 
    {% for file in files %}                     
        <div>
            <a href="{{asset('uploads/files/' ~  file.path)}}">{{ file.name }}</a> 
        </div>                                   
    {% endfor %}
{% endblock %}