{% extends "base.html.twig" %}
{% block title %}Mentions légales{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-6">
                <div id="legalNotice">

                    <h1>Nos mentions légales:</h1>

                    <h3>Propriétaire Du Site Internet</h3>
                    <h5>Nous sommes une Association</h5>
                    <p>Nom: Groupe des Randonneurs et Baliseurs Aubois (GRBA)</p>            
                    <p>Adresse: 63 Avenue Pasteur, 10000 Troyes</p>   
                    
                    <h3>Responsable Du Site Internet</h3>
                    <h5>Créateurs du site</h5>
                    <p>Corentin Tournaire, Florian Mathieu, Franck Valet</p>
                    <h5>Responsable de la publication</h5>
                    <p>(A voir)</p>        
                    <h5>Email du responsable de la publication</h5>
                    <p>(A voir)</p>
                    <h5>Le responsable de la publication est</h5>
                    <p>une personne morale (chelou dit comme ca)</p>

                    <h3>Type De Site Et Hébergeur</h3>
                    <h5>Type de site</h5>
                    <p>Site gratuit proposant la creation d'un compte utilisateur</p>
                    <h5>Le Webmaster</h5>
                    <p>(A voir)</p>        
                    <h5>Email du Webmaster</h5>
                    <p>(A voir)</p>        
                    <h5>Nom de l'hebergeur du site</h5>
                    <p>OVH SAS</p>
                    <h5>Adresse de l’hébergeur du site</h5>
                    <p>140 Quai du Sartel, 59100 Roubaix, France</p>

                </div>
            </div>
            <div class="col-6">
                <div id="rgpd">

                    <h1>Notre politique de confidentialité des données personnelles:</h1>

                    <h3>SITE WEB & ÉDITEUR</h3>
                    <h5>Adresse (url) du site</h5>
                    <p>(A Voir)</p>             
                    <h5>Statut juridique du responsable du service - et du traitement des données</h5>
                    <p>Association</p>
                    <h5>Dénomination sociale du responsable du service</h5>
                    <p>(A Voir)</p>
                    <h5>Adresse du siège social</h5>
                    <p>63 Avenue Pasteur, 10000 Troyes</p>   
                    
                    <h3>TRAITEMENT DES DONNÉES</h3>
                    <h5>Adresse mail pour faire valoir ses droits sur les données personnelles</h5>
                    <p>(A voir)</p>
                    <h5>Adresse POSTALE pour faire valoir ses droits</h5>
                    <p>63 Avenue Pasteur, 10000 Troyes</p>
                    <h5>Nous n'avons pas recours à des prestataires hors Union Européenne ?</h5>
                    <h5>Nous utilisont les données pour améliorer votre service</h5>
                    <h5>Nous utilisont es données pour fournir les informations / services souscrits par les utilisateurs</h5>
                    <h5>Informations / Services fournis</h5>
                    <p>Envoi de newsletter</p>
                    <h5>Nous utilisont les données pour contacter nos utilisateurs</h5>
                    <p>Dans le cadre d'organisation d'evenement</p>
                    <h5>Durée maximum de conservation des données (24 mois (2 ans))</h5>

                    <h3>INFORMATIONS GÉNÉRALES SUR LES COOKIES</h3>
                    <h5>Nous n'utilisont pas de cookies publicitaires</h5>
                    <h5>Nous n'utilisont pas de cookies de reseaux sociaux</h5>
                    <h5>Nous n'utilisont pas d'outil de mesure d'audience</h5>
                    
                    <h5>Liste des cookies utiliser:</h5>

                </div>
            </div>
        </div>
    </div>

{% endblock %}