{% extends "base.html.twig" %}
{% block title %}Les prochaines randonnées{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h2>Les prochaines randonnées</h2>
            {% for event in findNextEvents  %}
            <div class="container">
                <div class="base">
                    <div class="row">
                        <div class="col-4">
                            {% for picture in pictures %}
                            <img src="{{asset('uploads/' ~  picture.event)}}" class="imgAllNE" alt="">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>    
            {% endfor %}
    </div>
{% endblock %}