<form method="post" action="{{ path('picture_delete', {'id': picture.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette Photo?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
    <button class="btn">Supprimer</button>
</form>
